TestClient/Service References/SoapService/SOAPRESTDemo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SOAPRESTDemo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51111/SOAPRESTDemo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51111/SOAPRESTDemo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISOAPRESTDemo_EchoWithGet_InputMessage">
    <wsdl:part name="parameters" element="tns:EchoWithGet" />
  </wsdl:message>
  <wsdl:message name="ISOAPRESTDemo_EchoWithGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoWithGetResponse" />
  </wsdl:message>
  <wsdl:message name="ISOAPRESTDemo_EchoWithPost_InputMessage">
    <wsdl:part name="parameters" element="tns:EchoWithPost" />
  </wsdl:message>
  <wsdl:message name="ISOAPRESTDemo_EchoWithPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoWithPostResponse" />
  </wsdl:message>
  <wsdl:portType name="ISOAPRESTDemo">
    <wsdl:operation name="EchoWithGet">
      <wsdl:input wsaw:Action="http://tempuri.org/ISOAPRESTDemo/EchoWithGet" message="tns:ISOAPRESTDemo_EchoWithGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISOAPRESTDemo/EchoWithGetResponse" message="tns:ISOAPRESTDemo_EchoWithGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EchoWithPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISOAPRESTDemo/EchoWithPost" message="tns:ISOAPRESTDemo_EchoWithPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISOAPRESTDemo/EchoWithPostResponse" message="tns:ISOAPRESTDemo_EchoWithPost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISOAPRESTDemo" type="tns:ISOAPRESTDemo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EchoWithGet">
      <soap:operation soapAction="http://tempuri.org/ISOAPRESTDemo/EchoWithGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoWithPost">
      <soap:operation soapAction="http://tempuri.org/ISOAPRESTDemo/EchoWithPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPRESTDemo">
    <wsdl:port name="BasicHttpBinding_ISOAPRESTDemo" binding="tns:BasicHttpBinding_ISOAPRESTDemo">
      <soap:address location="http://localhost:51111/SOAPRESTDemo.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>